.container {
  min-height: 25vh;
  /* background-color: #abdee6; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 50px;
}

.modal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container h1 {
  font-size: 80px;
}

input {
  width: 100%;
  height: 30px;
  /* border-radius: 20px; */
  background-color: transparent;
  border-top: transparent;
  border-right: transparent;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 30px;
}

label {
  font-size: 30px;
}

textarea {
  width: 100%;
  height: 100px;
  /* border-radius: 20px; */
  background-color: transparent;
  border-top: transparent;
  border-right: transparent;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 30px;
}

.button {
  width: 100%;
  margin-top: 10px;
  background-color: black;
  height: 50px;
  color: white;
  transition: all 0.2s ease-out 0s;
}

.media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.media b {
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: black;
}

.mediaMobile {
  display: none;
}

@media screen and (max-width: 750px) {
  .container h1 {
    font-size: 50px;
  }
  
  .container h1 {
    text-align: center;
  }

  .form {
    width: 100%;
  }

  .media {
    display: none;
  }

  .mediaMobile {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  label {
    font-size: 20px;
  }

  input {
    width: 100%;
    height: 20px;
    font-size: 20px;
  }

  textarea {
    font-size: 20px;
  }

  .button {
    width: 100%;
  }

  .container img {
    width: 40%;
    height: 520px;
  }

  .container {
      align-items: center;
  }
  .mediaMobile div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
