.main {
  min-height: 25vh;
  /* background-color: #cbaacb; */
  text-align: center;
  padding-bottom: 40px;
}

.container h1 {
  font-size: 50px;
  border-top: 1px solid black;
  display: inline-block;
}

.container img {
  height: 200px;
  width: 80%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.411);
}

.children {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 370px;
  height: 350px;
  align-items: center;
  transition: all 0.2s ease-out 0s;
}

.child:hover {
  margin-top: -15px;
}

.child span {
  display: inline-block;
  font-size: 24px;
  width: 300px;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .children {
    flex-wrap: wrap;
    justify-content: center;
  }

  .container span {
    font-size: 20px;
  }

  .child{
      justify-content: space-evenly;
  }

}
