@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

.container {
  /* background-color: #ffffb5; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 70vh;
  padding: 15px;
}


.container h1 {
  font-size: 50px;
  border-top: 1px solid black;
  display: inline-block;
}


.hard {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.icons {
  background-color: rgba(255, 255, 255, 0.719);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px 8px 0px 30px;
  height: 100%;
  box-shadow: 5px 5px 10px 0px rgba(89, 84, 84, 0.836);
}

.img {
  width: 15%;
}

.child:hover {
  /* box-shadow: 5px 5px 10px 0px rgb(255, 255, 255); */
  padding-bottom: 15px;
}

.child {
  transition: all 0.2s ease-out 0s;
}

.mobileIcons{
  display:none
}

@media screen and (max-width: 750px) {
  .container img {
    width: 200px;
    margin-bottom: 30px;
    /* background-color: lavenderblush; */
  }
  .icons {
    height: auto;
    width: 90%;
  }
  .container {
    padding: 40px 0px 0px 0px;
    height: auto;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    /* flex-direction: row; */
  }

  

  .hard {
    height: 100%;
  }
  .hard{
    display: none;
  }

  .icons{
    display: none;
  }
  .mobileIcons{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 0px;
    padding: 40px 20px 40px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.719);
    box-shadow: -10px 10px 6px 0px rgba(0, 0, 0, 0.185);
  }

}
