.container {
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 0px 5% 0px;
  /* background-color: #F3B0C3; */
  color: black;
  font-size: 200%;
}

@media screen and (max-width: 750px) {
  .container img {
    height: 500px;
    width: auto;
  }
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 900px;
    /* width: 100%; */
    /* min-width: 500px; */
    margin: auto;
    /* background-color: antiquewhite; */
    /* padding: 0px 10px 0px 10px */
  }
  .container div {
    font-size: 30px;
    text-align: center;
    /* margin-top: 30px; */
  }
}
